/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

/* GLOBAL */
body,html{
	height:100%;
}

p{
	color:#6c6c6f;
	font-size:1em;
}

a:hover{
	text-decoration: none;
	font-weight: bold;
	color:red;
}

h1,h2,h3,h4,h5,h6{
	color:#323233;
	text-transform:uppercase;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.content-container{
	margin-top:125px;
}

.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
}

.content-container{
	margin-top:100px;
	height:auto;
}

.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
}

.main-body{
	background-image: url("../assets/images/background.jpg");
}

/* NAVBAR GLOBAL*/

nav{
	-webkit-transition: padding-top .3s,padding-bottom .3s;
	-moz-transition: padding-top .3s,padding-bottom .3s;
	transition: padding-top .3s,padding-bottom .3s;
	border: none;
}

.navbar-brand {
	color:black;
	font-size:25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
	padding: 0;
}

.navbar-brand span {
	color: rgb(255, 0, 0);
	font-size:25px;
	font-weight:700;
	letter-spacing:0.1em;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.navbar-brand img{
	padding: 15px;
	width:75px;
	-webkit-transition: transform 1s; /* Safari */
	transition: transform 1s;
}

.navbar-brand:hover img{
	transform: scale(1.5);
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
    font-weight: 500;
	letter-spacing: 1px;
	color:black;
	font-family: 'Gothic A1', sans-serif;
	-webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.navbar-nav .nav-item .nav-link:hover{
	color:#af0202;
	font-weight: bold;
}

/* NAVBAR LOGGED*/
#collapsibleNavbar .active{
	text-decoration: underline red;
}

/* NAVBAR LOGGED*/
#collapsibleNavbar .active{
	text-decoration: underline red;
}

.fixed-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

.fixed-nav-text{
	color:white !important;
}

.fixed-nav-text:hover{
	color:#af0202 !important;
	font-weight: bold;
}

/* NAVBAR CONSOLE */
.barconsole {
	max-width: 100%;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: 0 auto;
	background-color: #323233;
}

/* BANNIERE */
.banner{
	background-image:url('../assets/images/beer_fond.jpg');
	text-align: center;
    color: #000;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}

/* BANNIERE CATALOGUE*/
.banner-catalogue{
	background-image:url('../assets/images/beer_catalogue.jpg');
	text-align: center;
    color: #000;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/********************/
/* ACCUEIL LOGGED	*/
/********************/
.grid-container {
	display: grid;
	height: 100%;
	margin-left:50px;
	margin-right:50px;
	margin-top:50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1px;
	grid-template-areas: "Actualité Actualité Compte Compte" "Catalogue Catalogue Compte Compte";
}

.grid-block{
	margin-top:10px;
	margin-bottom: 20px;
}

/*ACTU*/
.Actualité {
	grid-area: Actualité;
	display:block;
	height: 400px;
	background-image: url("../assets/images/news_bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:5%;
	overflow: hidden;
}

.Actualité > .wrapper{
	display:block;
	padding-top:150px;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
	display: block;
}

.carousel-indicators {
	bottom:-50px;
}

.carousel-caption{
	background-color: rgba(21, 21, 21, 0.39);
}

.carousel-caption > p,
.carousel-caption > h3{
	color:white;
}
.carousel-indicators > li{
	width: 20px;
	height: 20px;
	background-color: #2137fe;
	border-radius: 100%;
}


.carousel-indicators > .active{
	background-color: #e6fee6;
}



/*CATALOGUE*/
.Catalogue {
	grid-area: Catalogue;
	display:block;
	width:100%;
	height: 400px;
	border-radius:5%;
	background-color: black;
	background-image: url("../assets/images/catalogue_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.Catalogue h3{
	color:white;
}

.Catalogue:hover h3{
	color: #ff0000;
}


/*COMPTE*/
.Compte { grid-area: Compte; }

.card-base > .card-icon {
	text-align: center;
	position: relative;
}

.card-base{padding:20px;}
.box-title{padding:10px;}

.imagecard {
	z-index: 2;
	display: block;
	positioN: relative;
	width: 88px;
	height: 88px;
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 0 auto;
	color: white;
}
.card-base > .card-icon > .card-data {
	height:100%;
	min-height: 250px !important;
	margin-top: -24px;
	background: ghostwhite;
	border: 1px solid #e0e0e0;
	padding: 15px 0 10px 0;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	min-height: 215px;
}
#widgetCardIcon {
	font-size: 28px;
	line-height: 78px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../assets/images/beer_fond_small.jpg");
}

/*************/
/* FOOTER	 */
/*************/

.footer{
	min-height:20px;
	width: 100%;

}

/*************/
/* NAVTAB    */
/*************/


/*************/
/* NEWS		 */
/*************/
.cover-news {
	position: relative;
	text-align: center;
	color: white;
	background-color: black;
	background: no-repeat center center scroll;
	background-size: cover;
	height:180px;
}

/* Bottom left text */
.title-news {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.cards * {
	box-sizing: border-box;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.cards .card {
	width: 200px;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.cards .card img {
	max-width: 100%;
}
.cards .card .text {
	padding: 0 20px 20px;
}
.cards .card:nth-child(1) {
	width: 420px;
}
.cards button{
	width:50%;
}

/*************/
/* ANIMATION */
/*************/
@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
	  -webkit-transform: translateX(8px);
	  transform: translateX(8px);
	}
	33.3% {
	  -webkit-transform: translateX(-6px);
	  transform: translateX(-6px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }
  @keyframes hvr-wobble-horizontal {
	16.65% {
	  -webkit-transform: translateX(8px);
	  transform: translateX(8px);
	}
	33.3% {
	  -webkit-transform: translateX(-6px);
	  transform: translateX(-6px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }
  .hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }

/* Gestion du responsive */
@media (max-width:500px)
{
	.navbar-nav{
		color:#fff;
		z-index:1;
		margin-top:5px;
	}
	.navbar-nav .nav-item .nav-link{
		padding: 0.7em 1em !important;
		font-size: 100%;
		font-weight: 500;
    }
	.banner-text{
		padding:150px 0 150px 0;
	}
	.banner-heading{
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.banner-sub-heading{
		font-size: 10px;
		font-weight: 200;
		line-height: 10px;
		margin-bottom: 40px;
	}

}

@media (max-width:790px){
	.grid-container {
		display: grid;
		height: 100%;
		margin-left:50px;
		margin-right:50px;
		margin-top:50px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 1px;
		grid-template-areas: "Compte Compte" "Actualité Actualité" "Catalogue Catalogue" ;
	}

}

@media (max-width:777px){
	.banner-text{
		padding:150px 0 150px 0;
	}
	.banner-sub-heading{
		font-size: 23px;
		font-weight: 200;
		line-height: 23px;
		margin-bottom: 40px;
	}
}

/****************/
/* CONSOLE		*/
/****************/

.tabConsole nav, article, label, section{
   position: relative;
}

.tabConsole {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4rem auto;
}

.tabConsole article {
	height:100%;
    position: absolute;
    left: 0;
    top: 5rem;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem 0;
    transition: .7s;
    transform: scale(0);
    transform-origin: center top;
    transition-delay: .1s;
}
.tabConsole article:before {
    color: rgba(0,0,0,.2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.tabConsole nav {
	background-color: #212529;
    width: 50%;
	border-radius: 0 0 25px 25px;
    height: 5rem;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
}
.tabConsole nav:after {
    content:'';
    width: 33%;
    height: 5rem;
    background: #670300;
	border-radius: 0 0 25px 25px;
    position: absolute;
    transition: .5s;
}

.tabConsole label {
    width: 33%;
    float: left;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}

.tabConsole label:hover {color: #670300;}
.tabConsole label:before {
    display: block;
    font-size: 3rem;
    line-height: 5rem;
    z-index: 2;
}
#search:checked ~ nav [for='search'],
#profile:checked ~ nav [for='profile'],
#command:checked ~ nav [for='command']{
    color: white;
    font-weight: 600;
}

#search:checked ~ nav:after {
    left: 0;
}
#profile:checked ~ nav:after {
    left: calc(100%/3);
    border-top: 0 none;
}
#command:checked ~ nav:after {
	left: calc((100%/3)*2);
}

#search:checked ~ .searchTab,
#profile:checked ~ .userTab,
#command:checked ~ .commandTab{
    display: block;
    transform: scale(1);
    transition-delay: .5s;
}

.tabConsoleInput{
    display:none;
}


/* SEARCH SELECTOR */

.searchAC .btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
}
.searchAC .btn--primary {
	background: #670300;
	color: #fff;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
	padding: 12px 36px;
}
.searchAC .btn:hover {
	background: #b10500;
}

.searchAC .btn:active {
	background: #7f8ff4;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.searchAC .btn--inside {
	margin-left: -96px;
}

.searchAC .form__field {
	width: 360px;
	background: #fff;
	color: black;
	font: inherit;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
	border: 0;
	outline: 0;
	padding: 22px 18px;
}

.uppercase {
	text-transform: uppercase;
}

.autocomplete {
	position: relative;
	display: inline-block;

}

.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
	width: 250px;
	margin: auto;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* USERTAB */

.userTab .btn--primary {
	background: #670300;
	color: #fff;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
	border-radius: 2px;
	padding: 12px 36px;
}


/* COMMANDTAB */

.commandTab ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	-webkit-backface-visibility: hidden; backface-visibility: hidden;
}
.commandTab .var_nav
{
	position:relative;
	background: #64605f;
	max-width: 300px;
	height:70px;
	margin-bottom:5px;
}
.commandTab .link_bg
{
	width:70px;
	height:70px;
	position:absolute;
	background: #ac0002;
	color:#fff;
	z-index:2;
}
.commandTab .link_bg i
{
	position:relative;
}
.commandTab .link_title
{
	position:absolute;
	width:100%;
	z-index:3;
	color:#fff;
}
.commandTab .link_title:hover .icon
{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}
.commandTab .var_nav:hover .link_bg
{
	width:100%;
	background: #ac0002;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.commandTab .var_nav:hover a
{
	font-weight:bold;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.commandTab .icon
{
	position:relative;
	width:70px;
	height:70px;
	text-align:center;
	color:#fff;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	float:left;
	transition:all .5s ease-in-out;
	float:left;
}
.commandTab .icon i{top:22px;position:relative;}
.commandTab a {
	display:block;
	position:absolute;
	float:left;
	font-family:arial;
	color:#fff;
	text-decoration:none;
	width:100%;
	height:70px;
	text-align:center;
}
.commandTab span
{
	margin-top:25px;
	display:block;
}

#console-connect-form{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.error-404{
	text-align:center;
}
.error-404 img{
	height:100vh;
	text-align: center;
}

.table_products {
    width:40%;
    display: inline-block;
}
/*cartes de la page statistiques*/
#piechart .column {
	float: left;
	width: 25%;
	padding: 0 5px;
}

#piechart .row {margin: 0 -5px;}

/* Clear floats after the columns */
#piechart .row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
	#piechart .column {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
}

/* Style the counter cards */
#piechart .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
	text-align: center;
	background-color: white;
	color: white;
	margin: 5px;
}

/* .fa {font-size:50px;} */

#piechart{
	width:80%;
	margin:auto;
}
#mainchart{
	width:80%;
	margin:auto;
}