.form-ajout{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-ajout h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-ajout input[type="text"],
.form-ajout input[type="date"],
.form-ajout input[type="datetime"],
.form-ajout input[type="email"],
.form-ajout input[type="number"],
.form-ajout input[type="search"],
.form-ajout input[type="time"],
.form-ajout input[type="url"],
.form-ajout input[type="password"],
.form-ajout textarea,
.form-ajout select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-ajout textarea{
    resize:none;
    overflow: hidden;
    height: 100%;
    min-height: 200px;
}
.form-ajout input[type="button"],
.form-ajout input[type="submit"],
.form-ajout button[type="button"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-ajout input[type="button"]:hover,
.form-ajout input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

#form-div{
    display:none;
    width:50%;
}

#form-div{
    display:none;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

#cancel-button {
    background-color:red;
    border: 1px solid red;
    box-shadow: none;
}

#tables button:hover{

}

#table-tile{
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}

#add{
    text-align: center;
}

.icon{
    height: 16px;
    width: 16px;
}

td{
    text-align: center;
}

/* Responsive form */
@media screen and (max-width: 600px) {
    #form-div{
        width:100%;
    }
}